body {
    font-family: Arial, sans-serif;
    background-color: #f5d9d9;
    padding: 20px;
}

.container {
    background-color: hsl(0, 20%, 93%);
    padding: 50px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 0 auto;
    position: relative;

}
h1{
    text-align: center;
    text-decoration: underline;
}
label{
    margin-top: 10px;
    width: 140px;
    display: inline-block;
    /* margin-bottom: 10px; */
    margin: 0.2cm;
    left: 1cm;
}
.name-label{
    margin-top: 10px;
}

input{
    padding: 5px;
    margin: 4px;
    font-size: 16px;
    border-radius: 10px;
    border: 1px solid rgb(238, 230, 230);
    width: 7cm;
}


/* .container {
    position: relative;
} */

.fa-solid.fa-user {
    position: absolute;
    bottom: 150px; 
    left: 550px; 
    font-size:100px;
    
}
button {
    margin-top: 30px;
    width: 70px; 
    height: 40px; 
    font-size: 10px;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(134, 213, 242);
    
}
button:hover {
    background-color: rgb(245, 245, 245);
    transition: 0s;
}
.container2 {
    background-color: hsl(0, 20%, 93%);
    padding: 50px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 0 auto;
    position: relative;

}

/* label {
    display: block;
    margin-bottom: 5px;
    outline: none;
    
   
}

input[type="text"] {
    width: calc(100% - 130px);
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid;
    box-sizing: border-box;
    bottom: 100px;
   
   
} */


